{{- $recipient := promptStringOnce . "gpg recipient" "gpg recipient" -}}

# vim: ft=toml

encryption = "gpg"
[gpg]
  recipient = {{ $recipient | quote }}
  args=["--quiet"]

[data]
  GIT_USER_NAME = "dumh"
  GIT_USER_EMAIL = "duminghui@users.noreply.github.com"


