{{- $recipient := promptStringOnce . "gpg recipient" "gpg recipient" -}}
{{- $gitlab_user_email := promptStringOnce . "gitlab user email" "gitlab user email" -}}

# vim: ft=toml

encryption = "gpg"
[gpg]
recipient = {{ $recipient | quote }}
args = ["--quiet"]

[data]
GIT_USER_NAME = "dumh"
GITHUB_USER_EMAIL = "duminghui@users.noreply.github.com"
GITHUB_USER_SIGNINGKEY = "AB2BB95938B3A2A2"
GITLAB_USER_EMAIL = {{ $gitlab_user_email | quote }}
GITLAB_USER_SIGNINGKEY = "3773720F6BF6DFFA"


