# vim: ft=gitconfig

[user]
  email = {{ .GITLAB_USER_EMAIL }}
  signingkey = 3773720F6BF6DFFA

[url "git@192.168.1.197:stock/"]
  insteadof = https://github.com/jujian/

[url "http://192.168.1.197/stock/"]
  insteadof = https://github.com/jujian/

