# vim: ft=gitconfig

[user]
  name = {{ .GIT_USER_NAME }}
  email = {{ .GITLAB_USER_EMAIL }}
  signingkey = {{ .GITLAB_USER_SIGNINGKEY}}

[url "git@192.168.1.197:stock/"]
  insteadof = https://github.com/jujian/

[url "http://192.168.1.197/stock/"]
  insteadof = https://github.com/jujian/

