/*
!/.gitignore
!/README.md
!/config.fish
!/fish_plugins

!/conf.d/
/conf.d/*

!/completions/
/completions/*
!/completions/fisher.fish

!/functions/
/functions/*
!/functions/fisher.fish

!/themes/
/themes/*
